@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Mission 3 Home";
}



<h1>Ethan Horlacher</h1>
<h2>Welcome to Ethan's super tight website.</h2>
<br /><br />
<h3>Check out this radical backflip fail, courtesy of Ethan</h3>
<video autoplay muted loop class="center">
    <source src="img/skifail.mp4" type="video/mp4" />
</video>
<br /><br /><br />
<h3>Some basic info:</h3>
<p>
    What does Ethan get up to these days? For starters, he's an
    IS student at BYU, and this website is for the 413
    class in that program. Frankly, in this class, Ethan wants to improve
    his problem solving and logical skills while learning
    some sweet coding skills in the process. Who knows,
    maybe someday this could lead to some sweet computer
    hacking skills. Someday.
</p>

<h3>
    So what does Ethan want to be when he grows up?
    Check out his top three picks below.
</h3>
<ul>
    <li>Pick one: Filthy Rich Entrepreneur</li>
    <li>Pick two: Ultra Cool FBI Special Agent</li>
    <li>Pick three: Super Skilled Data Scientist</li>
</ul>
<br /><br /><br />

